
title janseva home page 

block style 
        link(rel="stylesheet", href="../public/index.css")

    
block content 
    nav#navbar          
        ul 
            li  #[a(href="/") Home]                  
            li  #[a(href="/login") Admin Login]           
            //- li  #[a(href="/") Services]         
            //- li  #[a(href="/") About Us]         
            li  #[a(href="/bookap") Book Appointment] 
    h1#janseva जनसेवा केंद्र        
    p#photo_content
        h1#heading
         
    div#bookap
        a(href="/bookap") Book Appointment
    p#details
            |Jan Seva Kendra, Gandhinagar
            |District Collector & Jilla Seva Sadan Kacheri,
            |Near Pathika Ashram,
            |GH Road, Sector 11,
            |Gandhinagar,
            |Gujarat - 382017

            |10:30 A.M To 6:10 P.M
        
          

    footer 
        p copyrights @copy 2022 all rights resreved by team        

         

         


        
